@using System.Web.Optimization
@model NetMPK.WebUI.Models.RoutesModel
@Scripts.Render("~/bundles/_stopSearch")
<div class="routes-wrapper">
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="routes-left-wrapper">
        <h3>Punkt początkowy</h3>
        <div class="btn-group startSelectWrapper">
            <input type="text" class="form-control noClear" id="startName" />
            <span id="startClearIcon" class="glyphicon glyphicon-remove"></span>
        </div>
        Wyszukaj po:
        <form id="searchSelectRadioFormStart">
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="startPointStop" checked="checked"/>Przystankach</label>
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="startPointStreet" />Ulicach</label>
        </form>
        <div class="routes-left">
            <div class="stopSelectBox">
                @foreach (var s in Model.allStops)
                {
                    var title = (s.Value != "") ? "Ulica " + s.Value : null;
                    <div id="@s.Key.ToUpper()" class="stopSelectStart" name="@s.Value.ToUpper()" data-toggle="tooltip" data-placement="right"  title="@title">@s.Key</div>
                }
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="routes-right-wrapper">
        <h3>Punkt docelowy</h3>
        <div class="btn-group stopSelectWrapper">
            <input type="text" class="form-control noClear" id="stopName" />
            <span id="stopClearIcon" class="glyphicon glyphicon-remove"></span>
        </div>
        Wyszukaj po:
        <form id="searchSelectRadioFormEnd">
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="stopPointStop" checked="checked" />Przystankach</label>
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="stopPointStreet" />Ulicach</label>
        </form>
        <div class="routes-right">
            <div class="stopSelectBox">
                @foreach (var s in Model.allStops)
                {
                    var title = (s.Value != "") ? "Ulica " + s.Value : null;
                    <div id="@s.Key.ToUpper()" class="stopSelectStop" name="@s.Value.ToUpper()" data-toggle="tooltip" data-placement="right"  title="@title">@s.Key</div>
                }
            </div>
        </div>
    </div>
    <div class="routes-main-wrapper">
        <h3>Trasa</h3>
        <input type="button" class="btn btn-primary" value="Wyszukaj" id="searchButton"/>
        <div class="alert alert-danger alert-dismissable fade out routes-main-alert" id="searchAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Uwaga!</strong>
            Wybierz punkty trasy klikając na nie na liście. 
        </div>
        <div class="routes-main">
            @if (Model.routes != null)
            {
                foreach (var r in Model.routes)
                {
                    <h4>Połączenie</h4>
                    foreach (var p in r)
                    {
                        <div>@p.Item1</div>
                        <div>@p.Item2 -> @p.Item4</div>
                        <div>@p.Item3 -> @p.Item5</div>
                        <div>Oczekiwanie: @p.Item6</div>
                    }
                    <br />
                }
            }
        </div>
    </div>
</div>
