@using System.Web.Optimization
@model NetMPK.WebUI.Models.RoutesModel
@Scripts.Render("~/bundles/_stopSearch")
<div class="routes-wrapper">
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="routes-left-wrapper">
        <h3>Punkt początkowy</h3>
        <div class="btn-group startSelectWrapper">
            <input type="text" class="form-control noClear" id="startName" />
            <span id="startClearIcon" class="glyphicon glyphicon-remove"></span>
        </div>
        Wyszukaj po:
        <form id="searchSelectRadioFormStart">
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="startPointStop" checked="checked"/>Przystankach</label>
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="startPointStreet" />Ulicach</label>
        </form>
        <div class="routes-left">
            <div class="stopSelectBox">
                @foreach (var s in Model.allStops)
                {
                    var title = (s.Value != "") ? "Ulica " + s.Value : null;
                    <div id="@s.Key.ToUpper()" class="stopSelectStart" name="@s.Value.ToUpper()" data-toggle="tooltip" data-placement="right"  title="@title">@s.Key</div>
                }
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="routes-right-wrapper">
        <h3>Punkt docelowy</h3>
        <div class="btn-group stopSelectWrapper">
            <input type="text" class="form-control noClear" id="stopName" />
            <span id="stopClearIcon" class="glyphicon glyphicon-remove"></span>
        </div>
        Wyszukaj po:
        <form id="searchSelectRadioFormEnd">
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="stopPointStop" checked="checked" />Przystankach</label>
            <label class="radio-inline"><input type="radio" name="startPointRadio" id="stopPointStreet" />Ulicach</label>
        </form>
        <div class="routes-right">
            <div class="stopSelectBox">
                @foreach (var s in Model.allStops)
                {
                    var title = (s.Value != "") ? "Ulica " + s.Value : null;
                    <div id="@s.Key.ToUpper()" class="stopSelectStop" name="@s.Value.ToUpper()" data-toggle="tooltip" data-placement="right"  title="@title">@s.Key</div>
                }
            </div>
        </div>
    </div>
    <div class="routes-main-wrapper">
        <h3>Trasa</h3>
        <input type="button" class="btn btn-primary" value="Wyszukaj" id="searchButton"/>
        <div class="alert alert-danger alert-dismissable fade out routes-main-alert" id="searchAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Uwaga!</strong>
            Wybierz punkty trasy klikając na nie na liście. 
        </div>
        <div class="routes-main accordion-wrapper">
            @if (Model.routes != null && Model.noRoutesFound == false)
            {
                if (Model.isLoggedIn)
                {
                    <a href="@Url.Action("SaveRoute",new {routeFrom = Model.routes.First().First().Item2, routeTo = Model.routes.First().Last().Item4})" class="btn btn-primary saveTrackBtn">Dodaj do ulubionych</a>
                }
                <div class="">
                    <h3>Znalezione trasy:</h3>
                    <div class="panel-group" id="routesAccordion">
                        @for (int i = 0; i < Model.routes.Count; i++)
                        {

                            string colId = "routesCollapse" + i;
                            string colTitleId = "#" + colId;

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="route-link" data-toggle="collapse" data-parent="#routesAccordion" href="@colTitleId">
                                            <div>
                                                <span>@Model.routes[i].First().Item3 <span class="glyphicon glyphicon-chevron-right"></span></span>
                                                @foreach (var part in Model.routes[i])
                                                {
                                                    <span class="transport-icon">
                                                        @if (part.Item1 < 100)
                                                        {
                                                            <img src="~/Assets/Icons/tram.png" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Assets/Icons/bus.png" />
                                                        }
                                                        <span>@part.Item1</span>
                                                    </span>
                                                    if (part != Model.routes[i].Last())
                                                    {
                                                        <span>&nbsp;<img src="~/Assets/Icons/arrow.png" width="12" height="12" /></span>
                                                    }
                                                }
                                                <span><span class="glyphicon glyphicon-chevron-right"></span> @Model.routes[i].Last().Item5</span>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="@colId" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @foreach (var part in Model.routes[i])
                                        {
                                            <div class="panel panel-body route-part-wrapper">
                                                @if (part.Item1 < 100)
                                                {
                                                    <img src="~/Assets/Icons/tram.png" />
                                                }
                                                else
                                                {
                                                    <img src="~/Assets/Icons/bus.png" />
                                                }
                                                <span>Linia: @part.Item1</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Czas oczekiwania: @part.Item6 min.</span><br />
                                                <div class="route-part">
                                                    <h5><strong>@part.Item2</strong></h5>
                                                    <h5>Odjazd: @part.Item3</h5>
                                                </div>
                                                <div class="route-part-divider">&nbsp;</div>
                                                <div class="route-part">
                                                    <h5><strong>@part.Item4</strong></h5>
                                                    <h5>Przyjazd: @part.Item5</h5>
                                                </div>


                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            }
            @if (Model.noRoutesFound == true)
            {
                <h3>Nie znaleziono połączenia</h3>
            }
        </div>
    </div>
</div>
