@using System.Web.Optimization
@model NetMPK.WebUI.Models.StopsModel
@Scripts.Render("~/bundles/_StopsListSearch")
@{
    ViewBag.Title = "Przystanki";
}
@{
    char lastChar = ' ';
    char[] alphabet = Model.stopNames.Select(s => s.First()).Distinct().ToArray();
}
<div class="wrapper">
    <div class="letterSelector">
        @foreach (char c in alphabet)
        {
            <a class="btn btn-primary singleLetter" id="@c.ToString().ToUpper()">@c.ToString().ToUpper()</a>
        }
        <a class="btn btn-primary singleLetter" style="width: 70px;" id="ALL">Wszystkie</a>
    </div>
    <div class="list-main">
       @foreach (var s in Model.stopNames)
       {

           if (s.First() != lastChar)
           {
               lastChar = s.First();
               <h4 id="@lastChar">@lastChar</h4>
           }
           string ID = "STOP" + s;
        <div class="stopListItem" id="@ID">@Html.ActionLink(s, "StopDetails", "Stops", new { stopName = s.ToString() }, null)</div>
       }
    </div>
</div>
